*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #400040;
    font-weight: 500;
}


.form-control-file, .form-control-range {
    width: 50px !important;
}
.form-file, .form-file-label label {
    margin-left: 100px!important;
}


.form-row img {
    vertical-align: middle !important;
    border-style: none !important;
    justify-content: center !important;
    border-radius: 50% !important;
    display: flex !important;
    margin: 0 auto !important;
    width: 250px !important;
    height: 250px !important;
    margin-bottom: 20px !important;
}