*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
   align-items: center;
   justify-content: center;
}
#contaH{
    height: 67vh;
}
.col-lg-7 {
    flex: 1 0 58.333333% !important;
    max-width: 58.333333% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: indigo !important;
    margin: 0 auto !important;
}

.col-lg-5 img {
    vertical-align: middle !important;
    border-style: none !important;
    justify-content: center !important;
    border-radius: 50% !important;
    display: flex !important;
    margin: 0 auto !important;
    width: 250px !important;
    height: 250px !important;
    margin-bottom: 20px !important;
}
.col-lg-5 p {
    text-align: center;
}
.btn-dark {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    width: 150px !important;
    border-radius: 30px !important;
    margin: 7px !important;
}
@media(max-width:500px){
#botao_flutuante{
    display: none !important;
}
}