/*primeira sectiom com imagem de fundo*/
#pg_atendimento_psicologico_banner .jumbotron {
  background-image: url("../../assets/images/psicologico1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 600px;
  width: 100%;
}

#pg_atendimento_psicologico_primeiraClass{
  padding: 100px 0;
}
@media (max-width: 768px) {
  #pg_atendimento_psicologico_primeiraClass {
    padding: 25px 0;
  }
}
#pg_atendimento_psicologico_primeiraClass .primeiraClass {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*inicio mudanças implementadas */
#pg_atendimento_psicologico_primeiraClass div div p {
  color: #727272;
  font-size: 23px;
  text-align: justify;
  flex-wrap: wrap;
  box-sizing: border-box;
}
#pg_atendimento_psicologico_primeiraClass div div h3 {
  color: #333333;
  font-weight: 520;
  font-size: 27px;
}
#pg_atendimento_psicologico_primeiraClass div div img {
  height: 350px;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
}

/*final da edição da section*/
#pg_atendimento_psicologico_segundaClass{
  padding: 100px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
@media (max-width: 768px) {
  #pg_atendimento_psicologico_segundaClass {
    padding: 25px 0;
  }
}
#pg_atendimento_psicologico_segundaClass .containerButtonActions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#pg_atendimento_psicologico_segundaClass .containerButtonActions Button{
  padding: 30px 60px;
}
#pg_atendimento_psicologico_segundaClass .segundaClass {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*inicio mudanças implementadas */
#pg_atendimento_psicologico_terceiraClass{
  padding: 100px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
@media (max-width: 768px) {
  #pg_atendimento_psicologico_terceiraClass {
    padding: 25px 0;
  }
}
#pg_atendimento_psicologico_terceiraClass div div p {
  color: #333;
  font-size: 16px;
  text-align: justify;
  flex-wrap: wrap;
  box-sizing: border-box;
}
#pg_atendimento_psicologico_terceiraClass div div h1 {
  color: #333;
  font-weight: 520;
  font-size: 28px;
  text-align: center;
}
#pg_atendimento_psicologico_terceiraClass div div img {
  width: 80%;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
}
/* Final Seção terceiraClass - artigo tela Defesa Pessoal */


/* Inicio Seção quartaClass - artigo tela Defesa Pessoal */
section.pg_atendimento_psicologico_quartaClass {
  background-color: rgb(71, 104, 71);
  color: #fff;
  padding: 40px 0;
}
section.pg_atendimento_psicologico_quartaClass div h3 {
  text-align: center;
  padding: 20px 0 40px;
}
section.pg_atendimento_psicologico_quartaClass div img {
  display: block;
  margin: 0 auto 20px;
  height: 220px;
}
section.pg_atendimento_psicologico_quartaClass div p {
  text-align: center;
}
section.pg_atendimento_psicologico_quartaClass div h6 {
  text-align: center;
  font-weight: normal !important;
  font-size: 13px;
}
section.pg_atendimento_psicologico_quartaClass p {
  font-size: 14px;
}

/* Final Seção quartaClass - artigo tela Defesa Pessoal */
