#carrosselHome{
  display: none;
}

@media(max-width:1080px) {
	#carrosselHome{
    display: block;
    width: 90%;
  }
  .left{
		display: none;
  }
  .middle{
		display: none;
  }
  .right{
		display: none;
	}
}

#bcg {
  background-image: url("../../assets/images/bcg.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.left{
    height: 100%;
    justify-content: center;
}
.middle{
    height: 100%;
    align-items: center;
    justify-content: center;
}
.right{
    height: 100%;
    justify-content: center;
}

.logo{
  width: 210px;
}

.circlenav {
    top: 40%;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    background-color: #fffafa;
    margin: auto;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 2.75em;
    font-weight: bold;
    transition: 0.24s 0.2s;
    border: 2px solid #fffafa;
    animation: pulse 1.5s infinite running;
    animation-delay: 1.5s;
    z-index: 5;
}

/*Inicio da animação pulsante do botão principal*/
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5);
      transform: scale(1);
    }
    10% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.5);
      transform: scale(1);
    }
    20% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
      transform: scale(1);
    }
    30% {
      box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.4);
      transform: scale(1);
    }
    40% {
      box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.3);
      transform: scale(1);
    }
    50% {
      box-shadow: 0 0 0 50px rgba(255, 255, 255, 0.3);
      transform: scale(1);
    }
    60% {
      box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.2);
      transform: scale(1);
    }
    65% {
      box-shadow: 0 0 0 65px rgba(255, 255, 255, 0.1);
      transform: scale(1);
    }
    100% {
      box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
      transform: scale(1);
    }
  }
  /*Fim da animação pulsante do botão principal*/

.circlenav img {
  top: -50px;
  left: -50px;
  z-index: 2;
}

.circlenav .iconsM {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -125px;
  left: -125px;
  border: 250px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}

.circlenav:hover {
  animation: none;
}

.circlenav:hover .iconsM {
  transition: transform 0.4s 0.08s, z-index 0s 0.5s;
  transform: scale(1);
  z-index: 1;
  cursor: pointer;
}

.circlenav .iconsM li {
  position: absolute;
  top: -100px;
  left: -100px;
  transform-origin: 100px 100px;
  transition: all 0.5s 0.1s;
}

.circlenav:hover .iconsM li {
  transition: all 0.4s;
}

.circlenav .iconsM li img {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  font-size: 59%;
  transition: 0.7s;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
}

/*Inicio do item defesa pessoal*/
.circlenav:hover .iconsM li:nth-child(1) {
transition-delay: 0.02s;
  transform: rotate(96.4deg);
}

.circlenav:hover .iconsM li:nth-child(1) img {
  transition-delay: 0.02s;
  transform: rotate(623.6deg);
  background-color: #fffafa;
  border: 3px solid #9400d3;
  cursor: pointer;
}
/*Fim do item defesa pessoal*/

/*Inicio do item nome social*/
.circlenav:hover .iconsM li:nth-child(2) {
  transition-delay: 0.02s;
  transform: rotate(147.8deg);
}

.circlenav:hover .iconsM li:nth-child(2) img {
  transition-delay: 0.02s;
  transform: rotate(572.2deg);
  background-color: #fffafa;
  border: 3px solid #a0522d;
  cursor: pointer;
}
/*Fim do item nome social*/

/*Inicio do item localizações*/
.circlenav:hover .iconsM li:nth-child(3) {
  transition-delay: 0.02s;
  transform: rotate(199.2deg);
}

.circlenav:hover .iconsM li:nth-child(3) img {
  transition-delay: 0.02s;
  transform: rotate(520.8deg);
  background-color: #fffafa;
  border: 3px solid #00ffff;
  cursor: pointer;
}
/*Fim do item localizaçõoes*/

/*Inicio do item quer ajudar*/
.circlenav:hover .iconsM li:nth-child(4) {
  transition-delay: 0.02s;
  transform: rotate(250.6deg);
}

.circlenav:hover .iconsM li:nth-child(4) img {
  transition-delay: 0.02s;
  transform: rotate(469.4deg);
  background-color: #fffafa;
  border: 3px solid #7cfc00;
  cursor: pointer;
}
/*Fim do item quer ajudar*/

/*Inicio do item casas de acolhimento*/
.circlenav:hover .iconsM li:nth-child(5) {
  transition-delay: 0.02s;
  transform: rotate(302deg);
}

.circlenav:hover .iconsM li:nth-child(5) img {
  transition-delay: 0.02s;
  transform: rotate(418deg);
  background-color: #fffafa;
  border: 3px solid #0000ff;
  cursor: pointer;
}
/*fim do item casas de acolhimento*/

/*Inicio do item juridico*/
.circlenav:hover .iconsM li:nth-child(6) {
  transition-delay: 0.02s;
  transform: rotate(353.4deg);
}

.circlenav:hover .iconsM li:nth-child(6) img {
  transition-delay: 0.02s;
  transform: rotate(366.6deg);
  background-color: #fffafa;
  border: 3px solid #ff0000;
  cursor: pointer;
}
/*Fim do item juridico*/

/*Inicio do item psicológico*/
.circlenav:hover .iconsM li:nth-child(7) {
  transition-delay: 0.02s;
  transform: rotate(404.8deg);
}

.circlenav:hover .iconsM li:nth-child(7) img {
  transition-delay: 0.02s;
  transform: rotate(315.2deg);
  background-color: #fffafa;
  border: 3px solid #ffff00;
  cursor: pointer;
}
/*Fim do item psicológico*/

/*Cards*/
.descricaoD {
  top: 22%;
  margin-right: 20px;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #fffafa;
  border: 4px solid #9400d3;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}
.descricaoDH {
  display: none;
}

.descricaoN {
  top: 22%;
  margin-right: 20px;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #fffafa;
  border: 4px solid #a0522d;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}
.descricaoNH {
  display: none;
}

.descricaoL {
  top: 22%;
  margin-right: 20px;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #fffafa;
  border: 4px solid #00ffff;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}
.descricaoLH {
  display: none;
}

.descricaoP {
  top: 22%;
  margin-left: 15px;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #fffafa;
  border: 4px solid #ffff00;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}
.descricaoPH {
  display: none;
}

.descricaoJ {
  top: 22%;
  margin-left: 15px;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #fffafa;
  border: 4px solid #ff0000;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}
.descricaoJH {
  display: none;
}

.descricaoC {
  top: 22%;
  margin-left: 15px;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #fffafa;
  border: 4px solid #0000ff;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}
.descricaoCH {
  display: none;
}

.descricaoA {
  top: 22%;
  margin-left: 15px;
  display: block;
  width: 100%;
  height: 50%;
  background-color: #fffafa;
  border: 4px solid #7cfc00;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}
.descricaoAH {
  display: none;
}
/*Cards*/

/*Cards mobile*/
.cardDescricaoD {
  top: 10%;
  margin: auto;
  
  width: 100%;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #9400d3;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.cardDescricaoN {
  top: 10%;
  margin: auto;
  
  width: 100%;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #a0522d;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.cardDescricaoL {
  top: 10%;
  margin: auto;
  
  width: 100%;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #00ffff;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.cardDescricaoP {
  top: 10%;
  margin: auto;
  
  width: 100%;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #ffff00;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.cardDescricaoJ {
  top: 10%;
  margin: auto;
  
  width: 100%;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #ff0000;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.cardDescricaoC {
  top: 10%;
  margin: auto;
  
  width: 100%;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #0000ff;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.cardDescricaoA {
  top: 10%;
  margin: auto;
  
  width: 100%;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #7cfc00;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.cardDescricaoLogo {
  top: 10%;
  margin: auto;
  
  width: 100%;
  height: 530px;
  background-color: #fffafa;
  border: 4px solid #7cfc00;
  opacity: 0.85;
  border-radius: 15px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  
  text-align: center;
}

.textoCards {
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.titleCards {
  font-size: 25px;
  line-height: 20px;
  color: black;
}

#topText{
  top: 0;
}
/*Cards mobile*/