.btn-ajuda {
    color: #fff;
    background-color: #400040;
    border-color: #400040;
    width: 150px;
    border-radius: 30px;
    margin: 7px;
}

.terceiraClass{
    text-align: center;
}

#btnCadastrese{
    background-color:  #400040 !important;
    width: 250px;
    height: 40px;
    border: 1px solid black !important;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white !important;
}