.menunav {
    background-color:#FFFFFF;
    width: 100%;
}
.menunav .logo{
    width: 20%;
    margin: 0;
}
.menunav .logo img{
    width: 90px;
}
.menunav .menu{
    width: 80%;
    justify-content: space-between;
}
.menunav .item{
    color: #400040!important;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
}
.menunav .item:hover{
    text-decoration: underline;
}
#logo{
    cursor: pointer;
}

.nav-item {
    text-align: center;
}

@media (max-width: 1200px) {
    button.navbar-toggler {
        background-color: #400040;
        border-radius: 1px solid #fff;
        color: #fff;
        padding: 10px 15px;
    }
    .nav-item {
        border-top: 1px solid #400040;
    }

   .nav-item:nth-child(6) {
        border-bottom: 1px solid #400040;
    }

}