#pg_sobre_psicologia_works {
  padding: 100px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
@media (max-width: 768px) {
  #pg_sobre_psicologia_works {
    padding: 25px 0;
  }
}
#pg_sobre_psicologia_works div div p {
  color: #333;
  font-size: 16px;
  text-align: justify;
  flex-wrap: wrap;
  box-sizing: border-box;
}
#pg_sobre_psicologia_works div div h1 {
  color: #333;
  font-weight: 520;
  font-size: 28px;
  text-align: center;
}
#pg_sobre_psicologia_works div div img {
  width: 80%;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
}
