#pg_acolhimento_banner {
  background-color: rgb(192, 193, 255);
  padding: 100px 0;
  text-align: center;
  color: white;
  font-size: 20px;
  font-style: italic;
  height: 500px;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 17em;
    }
  }
  
  @keyframes blinkCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    }
  }

  #pg_acolhimento_banner .container h1 {
    margin-bottom: 18px;
    padding: 29px 0;
    line-height: 0px;
  }

#pg_acolhimento_banner .line {
  border-right: 2px solid rgba(255, 255, 255, 0.76);
  height: 2px;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

#pg_acolhimento_banner .typing-animation {
  animation: blinkCursor 500ms infinite normal,
  typing 4s steps(40) 1s normal both;
  animation-delay: 9;
  animation-iteration-count: infinite;
}

@media (max-width: 600px){
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 18em;
    }
  }
  #pg_acolhimento_banner .container h1 {
    padding: 15px 0;
    font-size: 19px;
  }

  #pg_acolhimento_banner h1 {
    color: #400040;
  }
}

