*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contaH{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-dark {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    width: 150px !important;
    border-radius: 30px !important;
    margin: 7px !important;
}